.container {
    max-width: 600px;
    height: 90vh;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    margin: 0 auto;
}

.setters {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 30px;
    justify-content: space-around;
}

button {
    margin: 20px;
    width: 45px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}

span {
    font-size: 40px;
}

.display {
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {

    .container {
        max-width: 300px;
    }
    
    .setters {
        width: 100%;
        font-size: 15px;
    }
    
    button {
        margin: 10px;
        width: 25px;
        height: 25px;
    }
    
    span {
        font-size: 20px;
    }
    
    .display {
       margin-top: 10px;
    }
    
    
}